In [ ]:
#1. Set the variable test1 to the string 'This is a test of the emergency text system,' 
#and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'
file1=open('test.txt','w')
file1.write(test1)

43

In [ ]:
#2. Read the contents of the file test.txt into the variable test2. 
#Is there a difference between test 1 and test 2?

In [2]:
file2=open('test.txt','r')
file1.seek(0)
test2=file2.readline()
test2

'This is a test of the emergency text system'

In [3]:
if  test1==test2:
    print('both text are same')

both text are same

In [ ]:
# 3.Create a CSV file called books.csv by using these lines:
"""title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992 """

In [12]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('book.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

In [ ]:
#4.Use the sqlite3 module to create a SQLite database called books.db,
#and a table called books with these fields: title (text), author (text), and year (integer).

In [13]:
import sqlite3
conn= sqlite3.connect('book.db')
c=conn.cursor()
c.execute('create table books(title varchar(50),author varchar(20),year int)')
conn.commit()

OperationalError: table books already exists

In [ ]:
#5. Read books.csv and insert its data into the book table.

In [14]:
import pandas as pd
read_books = pd.read_csv('book.csv',encoding='unicode_escape')
read_books.to_sql('book', conn, if_exists='append', index = False)

In [ ]:
#6. Select and print the title column from the book table in alphabetical order.

In [16]:
c.execute('select title from book order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Perdido Street Station',), ('Perdido Street Station',), ('Small Gods',), ('Small Gods',), ('Small Gods',), ('The Spellman Files',), ('The Spellman Files',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('Thud!',), ('Thud!',), ('Thud!',)]

In [ ]:
#7. From the book table, select and print all columns in the order of publication.

In [18]:
c.execute('select title, author,year from book order by year')

df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

                            title           author  year
0   The Weirdstone of Brisingamen      Alan Garner  1960
1   The Weirdstone of Brisingamen      Alan Garner  1960
2   The Weirdstone of Brisingamen      Alan Garner  1960
3                      Small Gods  Terry Pratchett  1992
4                      Small Gods  Terry Pratchett  1992
5                      Small Gods  Terry Pratchett  1992
6          Perdido Street Station   China Miéville  2000
7          Perdido Street Station   China Miéville  2000
8          Perdido Street Station   China Miéville  2000
9                           Thud!  Terry Pratchett  2005
10                          Thud!  Terry Pratchett  2005
11                          Thud!  Terry Pratchett  2005
12             The Spellman Files        Lisa Lutz  2007
13             The Spellman Files        Lisa Lutz  2007
14             The Spellman Files        Lisa Lutz  2007

In [ ]:
#8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [23]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///book.db")
rows = engine.execute('select * from book')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

In [ ]:
#9. Install the Redis server and the Python redis library (pip install redis) on your computer. 
#Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). 
#Print all the fields for test.

In [20]:
!pip install redis

Collecting redis
  Downloading redis-4.1.0-py3-none-any.whl (171 kB)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Collecting packaging>=21.3
  Downloading packaging-21.3-py3-none-any.whl (40 kB)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\sande\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.11.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\sande\anaconda3\lib\site-packages (from packaging>=21.3->redis) (2.4.7)
Installing collected packages: deprecated, packaging, redis
  Attempting uninstall: packaging
    Found existing installation: packaging 20.4
    Uninstalling packaging-20.4:
      Successfully uninstalled packaging-20.4
Successfully installed deprecated-1.2.13 packaging-21.3 redis-4.1.0

In [30]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

In [ ]:
#10. Increment the count field of test and print it.

In [31]:
conn.hincrby('test','count', 3)